In [1]:
print("HOPE AI")

HOPE AI

In [2]:
name=input("Enter your Institute name:")

Enter your Institute name:HOPE AI

In [3]:
name=input("Enter your name:")
age=int(input("Enter your age:"))
School=input("Enter your school name:")
degree=input("Enter your degree:")

Enter your name:Alamelu S
Enter your age:34
Enter your school name:Savitri vidya sala
Enter your degree:MBA Finance

In [4]:
a=int(input("Enter the num1:"))
b=int(input("Enter the num2:"))
add=a+b
print(add)

Enter the num1:43
Enter the num2:34
77

In [5]:
sub=a-b
print(sub)

9

In [6]:
a=int(input("Enter the num1:"))
b=int(input("Enter the num2:"))
mul=a*b
print(mul)

Enter the num1:63
Enter the num2:97
6111

In [7]:
a=int(input("Enter the num1:"))
b=int(input("Enter the num2:"))
div=a/b
print(div)

Enter the num1:76
Enter the num2:31
2.4516129032258065

In [1]:
a=int(input("Enter the num1:"))
b=int(input("Enter the num2:"))

Enter the num1:76
Enter the num2:31

In [3]:
div=a/b

In [4]:
print(div)

2.4516129032258065

In [5]:
import math as m

In [9]:
m.floor(div)

2

In [3]:
g=int(input("Enter the num1:"))
h=int(input("Enter the num2:"))

Enter the num1:76
Enter the num2:31

In [6]:
MOD=(g%h)

In [7]:
print(MOD)

14

In [8]:
a=int(input("Enter the num1:"))
b=int(input("Enter the num2:"))

Enter the num1:4
Enter the num2:4

In [19]:
square=pow(a,b)

In [20]:
print(square)

256